@import './../../../variables';

.user1{
    background-color: #ececec;
    padding: 5vh 10vw;
    font-size:35px;
    min-height: 85vh;
    input{
        border: 1px solid rgba(0,0,0,0.4);
        margin-bottom:2vh;
        padding: 1vh 1vw;
        font-size:30px;
        color:black;
        font-weight:100;
        transition: border 0.4s linear;
    }
    input:focus{
        outline:none;
        border: 1px solid $highlight;
    }
    p{
        font-size:45px;
        margin:5vh 0;
    }
    button{        
        @include buttonReset;
        color:white;
        padding:1vh 1vw !important;
        height:auto !important;
        width:auto !important;
        background:$highlight2;
        margin-right:5px;
        margin-bottom:5px !important;
        cursor: pointer !important;
        margin-top:0px !important;
        transition:background-color 0.2s linear;
    }
    button:hover{
        background-color:black !important;
    }
    @media(max-width: 740px){
        padding:5vh 3vw;
    }
}
