@import './../../variables' ;
.Home{
    display: grid;
    grid-template-columns: 1fr,1fr,1fr,1fr,1fr;
    grid-template-rows: 1fr,1fr,2fr;
    padding:0 15vw;
    text-align:left;
    width:100%;
    h1{
    grid-column:1/span 2;
    grid-row:1/span 1;
    font-size:60px;
    margin-top:18vh;
    margin-right:15vw;
    font-weight:bold;
    margin-bottom:12vh;
    word-wrap: break-word;
    }
    img{
    grid-column:3/span 3;
    grid-row:1/span 2;
    width:100%;
    height:100%;
    }
    #repair{
    grid-column:1/span 1;
    grid-row:2/span 1;
    margin-right:3vw;
    // padding-left:2vw;

    h2{
        margin-bottom:3vh;
        font-size:30px;
        font-weight: 600;
        word-wrap: break-word;

    }
    p{
        font-size:18px;
        font-weight: 100;
        word-wrap: break-word;
        max-width:70vw;

    }
    button{
        @include buttonReset;
        font-size: 18px;
        margin-top:4vh;
        background-color:$highlight;
        height: 7vh;
        width: 16vw;
        padding:0 1.5vw;
        text-align:left;
        color:white;
        font-weight: 600;
        i{
            color:white;
            margin-left:0.5vw;
            transition: margin-left 0.2s linear;
        }
        transition: background-color 0.2s linear
    }
    button:hover{
        background-color: black;
        i{
            margin-left:1vw;
        }
    }
    }
    #revive{
        grid-column:2/span 1;
        grid-row:2/2;
        margin-right: 5vw;
        // padding-left:2vw;
        h2{
            margin-bottom:3vh;
            font-size:30px;
            font-weight: 600;
        word-wrap: break-word;

        }
        p{
            font-size:18px; 
            max-width:70vw;
            word-wrap: break-word;


        }
        button{
            @include buttonReset;
            font-size: 18px;
            margin-top:4vh;
            border:0.5px solid $highlight;
            height: 7vh;
            width: 16vw;
            padding:0 1.25vw;
            text-align:left;
            color:$highlight;
            font-weight: 600;
            i{
                color:$highlight;
                margin-left:0.5vw;
                transition: margin-left 0.2s linear;
            }
            transition: border 0.2s linear;
            transition: color 0.2s linear;
        }
        button:hover{
            border:0.5px solid black;
            color: black;
            i{
                margin-left:1vw;
                color:black;
            }
        }
    }
}

#techTag{
    margin:11vh 15vw;
    font-size:40px;
    font-weight: bold;
    text-align: left;
}

.Carousel1{
    padding:0 10vw;
    img{
        height:30vh;
        width:auto;
    }
    height:30vh;
    width:auto;
    @media(max-width:740px){
    display: none;
    }
}

.Carousel2{
    display: none;
    padding:10vw;
    img{
        height:30vh;
        width:auto;
    }
    height:30vh;
    width:auto;
    @media(max-width: 740px){
        display: inline;
    }
}

footer{
    margin-top:20vh;
    background:black;
    color:white;    
    padding:10vh 15vw;
    height:auto;
    text-align:left;
    display: grid;
    grid-template-columns: 1fr,1fr;
    grid-template-rows: 1fr,2fr;
    .topFooter{
        grid-column: 1/span 2;
        grid-row:1/span 1;
        display:flex;
        border-bottom: solid white 0.2px;
        padding-bottom:7vh;
        h1{
            font-weight: 600;
            font-size:40px;
            margin-right:5vw;
        }
        .helpSection{
            font-size:18px;
            font-weight:600;
            max-width: 70vw;
            word-wrap: break-word;
            button{
                @include buttonReset;
                font-size: 18px;
                height: 7vh;
                width: auto;
                margin-top:5vh;
                text-align:left;
                color:white;
                font-weight: 600;
                i{
                    color:white;
                    margin-left:0.5vw;
                    transition: margin-left 0.4s linear;
                }
                transition: background-color 0.4s linear;
            }
            button:hover{
                background-color: black;
                i{
                    margin-left:1vw;
                }
            }
        }
    }

    
    .bottomFooter{
        grid-column: 1/span 2;
        grid-row:2/span 1;
        display: flex;
        .siteDetails{
            font-size:30px;
            margin-top:10vh;
            margin-right:15vw;
            p{
                font-size:20px;
                margin-top:3vh;
            }
        }
        .contact{
            font-size:30px;
            margin-top:10vh;
            #buttons{
                margin-top:3vh;
                a{
                    color:white;
                }
                i{
                margin-right:1vw;
                transition: color 0.2s linear;
                }
                i:hover{
                    color:$highlight
                }
            }
        }
    }
    
     
}

@media(max-width:740px){
    footer{
        display: flex;
        flex-direction: column;
        .topFooter{
            display: flex;
            flex-direction: column;
            justify-content:space-around;
            height:50vh;
        }
        .bottomFooter{
            display: flex;
            flex-direction: column;
            justify-content:space-around;
            height:50vh;
        }
    }
    .Home{
        display: flex;
        flex-direction: column;
        align-items: center;
        width:100vw;
        padding:0 2vw !important;
        
        h1{
            margin:3vh 11vw;
            font-size:40px;
        }
        img{
            height:40vh;
            width:70vw;
            margin-bottom:2vh;
        }
        button{
            width:50vw !important;
            height: 5vh ;
            margin-bottom:2vh;
        }
        .line{
            margin-top:0vh !important;
        }
    }
}
